doctype 5
html
  head
    title= title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    //TODO Load socket.io library from a local server (hint: '/socket.io/socket.io.js')
    script
      $(document).ready(function(){
        //TODO Create a socket and make a connection to a socket.io server (localhost) 
        //TODO Write handler for 'status' event which should replace using $('#status').html(msg) status message, where msg is a message recieved from server
        //TODO Write handler for 'date-response' event which should add date recieved from server into #messages div (hint: $('#messages').append('<div class="line">' + data.date + '</div>');)
        $('#date-request-button').click( function() {
          //TODO Emit 'date-request' message to server
        });
      });
  body
    #status
    #messages
    button#date-request-button Get Date