doctype 5
html
  head
    title= title
    script(src='/socket.io/socket.io.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script
      $(document).ready(function(){
        var socket = io.connect('http://localhost:1337/');
        socket.on('status', function(data){
          $('#status').html(data.message);  
        });
        
        
        
        $('#date-request-button').click( function() {
          //TODO emit 'date-request' message to server with callback (acknowledgement) function
          //Hint: Callback function will looks exactly as handler for 'date-response' event from 05_socket_basics/views/index.jade
        });
        
        //TODO add handler for socket.io event 'broadcasting' event which will append recieved date to #message div
        //Hint: it will include data which looks like {msg: 'message from servers'}
        //Hint 2: take a look jQuery append from previous example (05_socket_basics)
        
        $('#broadcast-others').click( function() {
          //TODO emit 'broadcast' event and send object with 'to' and 'msg' fields. Please set value for 'to' as string 'others', 'msg' field you can get from #msg input. 
          //Hint: To retrieve value you can use $('#msg').val() call
        });
        $('#broadcast-everyone').click( function() {
          //TODO emit 'broadcast' event and send object with 'to' and 'msg' fields. Please set value for 'to' as string 'everyone', 'msg' field you can get from #msg input. 
        });
        
      });
  body
    #status
    #messages
    button#date-request-button Get Date
    input#msg(value='Message')
    button#broadcast-others Broadcast to others
    button#broadcast-everyone Broadcast to Everyone
    